html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #9faef8;
}

button{
    width: 50%;
    height: 100%; 
    float: left;
    background-color: rgb(18, 230, 28);
    color: white;
    font-size: 170%;
	font-weight: bold;
    border-style: solid;
    border-color: rgb(18, 230, 28);
    border-radius:10px;
}

.operador{
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgb(235, 50, 50);
    color: white;
    font-size: 170%;
	font-weight: bold;
    border-style: solid;
    border-color: rgb(235, 50, 50);
    border-radius:10px;
}

p{
    top: 25%;
    width: 30%;
    margin: 0;
    overflow: hidden; 
    text-align: center;
    position: relative;
    font-size: 170%;
    font-weight: bold;
    height: 50%;
    vertical-align: middle;
}

.total{
    float: left;
    width: 70%;
    height: 75%;
    background-color:rgb(240, 238, 238);
    border-radius:10px;
}

.row{
    width: 100%;
    height: 16.65%;
    background-color:rgb(240, 238, 238);
    border-radius:10px;
}

.container{
    width: 45%;
    height: 50%;
    top: 50%;
    position: relative;
    margin-left: 25%;
    transform: translateY(-50%);
    border-radius:10px;
}

@media (max-width: 479px) {
    .container{
        width: 100%;
        margin-left: 0;
        height: 100%;   
    }
    p{
        top:0;
        padding-top:25px;
    }
}