html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 152, 252);
}

button{
    width: 50%;
    height: 100%; 
    float: left;
    background-color: rgb(18, 230, 28);
    color: white;
    font-size: 170%;
	font-weight: bold;
    border-style: solid;
    border-color: rgb(18, 230, 28);
    border-radius:inherit0px;
}

.operador{
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgb(235, 50, 50);
    color: white;
    font-size: 250%;
	font-weight: bold;
    border-style: solid;
    border-color: rgb(235, 50, 50);
    border-radius:10px;
}

p{
    top: 25%;
    width: 30%;
    margin: 0;
    overflow: hidden; 
    text-align: center;
    position: relative;
    font-size: 170%;
    font-weight: bold;
    height: 50%;
    vertical-align: middle;
}

.totalDiv{
    width: 50%;
    height: 100%;
    float: left;
}

.total{
    top: 0%;
    float: left;
    width: 100%;
    height: 50%;
    font-size: 150%;
    font-family:sans-serif;
    background-color:rgb(240, 238, 238);
    border-radius:10px;
}

.total-valor{
    top: 0%;
    float: left;
    width: 100%;
    height: 50%;
    font-size: 150%;
    font-family:sans-serif;
}

.row{
    width: 100%;
    height: 16.65%;
    background-color:rgb(240, 238, 238);
    border-radius:10px;
}

.container{
    width: 45%;
    height: 50%;
    top: 50%;
    position: relative;
    margin-left: 25%;
    transform: translateY(-50%);
    border-radius:10px;
}


.zerar-valores{
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 100%;
	font-weight: bold;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius:10px;
}


@media (max-width: 976px) {
    .container{
        width: 100%;
        margin-left: 0;
        height: 100%;   
    }
    p{
        top:0;
        padding-top:25px;
    }
    .total{
        height: 40%;
        padding-top:0px;
        font-size: 170%;
    }
    
    .total-valor{
        height: 60%;
        padding-top:0px;
        font-size: 170%;
    }
    
}
